<div class="main">
<h1 class="titlePage">{{title}}</h1>
<p class="description">{{description}}</p>


<!-- partie Personal Info  -->
<form action="" *ngIf="afficheForm" [formGroup]="signInForm" >
  <div class="labelInput">
    <p *ngIf="!userName.valid" class="red redtest">champs requis</p>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" [formControl]="userName">
</div>
<div class="labelInput">
  <p *ngIf="!userMail.valid" class="red">Mail non conforme</p>
  <label for="email">Email Adress</label>
  <input type="text" name="email" id="email" [formControl]="userMail">
</div>
  <div class="labelInput">
    <p *ngIf="!userPhone.valid" class="red">champs requis</p>
  <label for="phone">Phone Number</label>
  <input type="text" name="phone" id="phone" [formControl]="userPhone">
</div>

</form>

<!-- Partie Select Your Plan -->
<div class="selectPlan" *ngIf="affichePlan">
<div class="option arcade" (click)="changeArcadeSelected()" [ngStyle]="{backgroundColor : arcadeSelected ? 'hsl(229, 24%, 87%)' : 'white'}">
  <img src="../../../assets/images/icon-arcade.svg" alt="">
  <div class="optionAndPrice"><p>Arcade</p><p>${{arcadePrice}}/mo</p></div>
</div>
<div class="option advanced" (click)="changeAdvancedSelected()" [ngStyle]="{backgroundColor : advancedSelected ? 'hsl(229, 24%, 87%)' : 'white'}">
  <img src="../../../assets/images/icon-advanced.svg" alt="">
  <div class="optionAndPrice"><p>Advanced</p><p>${{advancedPrice}}/mo</p></div>
</div>
<div class="option pro" (click)="changeProSelected()" [ngStyle]="{backgroundColor : proSelected ? 'hsl(229, 24%, 87%)' : 'white'}">
  <img src="../../../assets/images/icon-pro.svg" alt="">
  <div class="optionAndPrice"><p>Pro</p><p>${{proPrice}}/mo</p></div>
</div>

<div class="monthlyYearly">
  <p [ngStyle]="{
    color : monthly ? 'hsl(213, 96%, 18%)' : 'hsl(231, 11%, 63%)'
  }">Monthly</p>
  <div (click)="changeMonthly()"><button [ngStyle]="{
   right: monthly ? 'initial' : '0px'
  }"></button></div>
  <p [ngStyle]="{
    color : !monthly ? 'hsl(213, 96%, 18%)' : 'hsl(231, 11%, 63%)'
  }">Yearly</p>
</div>

</div>

<!-- Partie Pick adds-on -->
<div class="pickadd" *ngIf="afficheAdd">
<div class="optionAdd">
  <input type="checkbox" class="check" (click)="pickAddCheck1()">
  <div class="titleDescription">
    <p>Online Service</p>
    <p>Acces to Multiplayer Games</p>
  </div>
  <p>+$1/mo</p>
</div>

<div class="optionAdd">
  <input type="checkbox" class="check" (click)="pickAddCheck2()">
  <div class="titleDescription">
    <p>Larger Storage</p>
    <p>Extra 1TB of cloud save</p>
  </div>
  <p>+$2/mo</p>
</div>

<div class="optionAdd">
  <input type="checkbox" class="check" (click)="pickAddCheck3()">
  <div class="titleDescription">
    <p>Customizable profile</p>
    <p>Custom Theme On Your Profile</p>
  </div>
  <p>+$2/mo</p>
</div>
</div>

<!-- Partie finishing up -->

<div class="finishingUp" *ngIf="afficheFinish">
<div class="optionFinish firstAndSecondOption">
  <div>
    <p>Arcade(monthly)</p>
    <p class="changePeriod">change</p>
  </div>
  <p>$9/mo</p>
</div>


<div class="optionFinish firstAndSecondOption">
  <div>

    <p *ngIf="modaleService.getOnlineService() !== 0">Online service</p>
    <p *ngIf="modaleService.getLargerStorage() !== 0">Larger Storage</p>
    <p *ngIf="modaleService.getCustomizeProfile() !== 0">Customize Profile</p>
  </div>
  <div>
    <p *ngIf="modaleService.getOnlineService() !== 0">+$1/mo</p>
    <p *ngIf="modaleService.getLargerStorage() !== 0">+$2/mo</p>
    <p *ngIf="modaleService.getCustomizeProfile() !== 0">+$2/mo</p>


  </div>
</div>

<div class="optionFinish thirdOption">
  <p>Total per month</p>
  <p>+${{total}}/mo</p>
</div>

</div>

<!-- Fin de la modale -->

</div>
