<div class="main">
<h1 class="titlePage">{{title}}</h1>
<p class="description">{{description}}</p>


<!-- partie Personal Info  -->
<form action="" *ngIf="afficheForm" [formGroup]="signInForm">
  <div class="labelInput">
    <p *ngIf="!userName.valid" class="red">champs requis</p>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" [formControl]="userName">
</div>
<div class="labelInput">
  <p *ngIf="!userMail.valid" class="red">Mail non conforme</p>
  <label for="email">Email Adress</label>
  <input type="text" name="email" id="email" [formControl]="userMail">
</div>
  <div class="labelInput">
    <p *ngIf="!userPhone.valid" class="red">champs requis</p>
  <label for="phone">Phone Number</label>
  <input type="text" name="phone" id="phone" [formControl]="userPhone">
</div>

</form>

<!-- Partie Select Your Plan -->
<div class="selectPlan" *ngIf="affichePlan">
<div class="option arcade">
  <img src="../../../assets/images/icon-arcade.svg" alt="">
  <div class="optionAndPrice"><p>Arcade</p><p>$9/mo</p></div>
</div>
<div class="option advanced">
  <img src="../../../assets/images/icon-advanced.svg" alt="">
  <div class="optionAndPrice"><p>Advanced</p><p>$12/mo</p></div>
</div>
<div class="option pro">
  <img src="../../../assets/images/icon-pro.svg" alt="">
  <div class="optionAndPrice"><p>Pro</p><p>$15/mo</p></div>
</div>

<div class="monthlyYearly"></div>

</div>

<!-- Partie Pick adds-on -->
<div class="pickadd" *ngIf="afficheAdd">
<div class="optionAdd">
  <input type="checkbox" class="check">
  <div class="titleDescription">
    <p>Online Service</p>
    <p>Acces to Multiplayer Games</p>
  </div>
  <p>+$1/mo</p>
</div>

<div class="optionAdd">
  <input type="checkbox" class="check">
  <div class="titleDescription">
    <p>Larger Storage</p>
    <p>Extra 1TB of cloud save</p>
  </div>
  <p>+$2/mo</p>
</div>

<div class="optionAdd">
  <input type="checkbox" class="check">
  <div class="titleDescription">
    <p>Customizable profile</p>
    <p>Custom Theme On Your Profile</p>
  </div>
  <p>+$2/mo</p>
</div>
</div>

<!-- Partie finishing up -->

<div class="finishingUp" *ngIf="afficheFinish">
<div class="optionFinish firstAndSecondOption">
  <div>
    <p>Arcade(monthly)</p>
    <p class="changePeriod">change</p>
  </div>
  <p>$9/mo</p>
</div>


<div class="optionFinish firstAndSecondOption">
  <div>
    <p>Online service</p>
    <p>Larger Storage</p>
  </div>
  <div>
    <p>+$1/mo</p>
    <p>+$2/mo</p>
  </div>
</div>

<div class="optionFinish thirdOption">
  <p>Total per month</p>
  <p>+$12/mo</p>
</div>

</div>

<!-- Fin de la modale -->


<!-- triche boutton next et previous -->
<div class="basPage">
  <button *ngIf="affichageButtonRoute()" [ngStyle]="{opacity : 0}"></button>
  <button *ngIf="affichageButtonRoute2()" [routerLink]="['/personalInfo']">Previous</button>
  <button *ngIf="affichageButtonRoute3()" [routerLink]="['/selectYourPlan']">Previous</button>
  <button *ngIf="affichageButtonRoute4()" [routerLink]="['/finishingUp']">Previous</button>


  <button [disabled]=affichageButton() class="next" (click)="test()" [ngStyle]="{opacity :
  affichageButton() ? '0.5' : '1'}" [routerLink]="['/selectYourPlan']" *ngIf=affichageButtonRoute()><a >Next Step</a></button>


  <button class="next"  [routerLink]="['/pickAddsOn']" *ngIf=affichageButtonRoute2()><a >Next Step</a></button>
  <button class="next"  [routerLink]="['/finishingUp']" *ngIf=affichageButtonRoute3()><a >Next Step</a></button>
  <button class="next"  [routerLink]="['/personalInfo']" *ngIf=affichageButtonRoute4()><a >Confirm</a></button>
</div>

</div>
