.main{
  min-height : 50vh;
  width : 80vw;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  left:5%;
  top : 150px;
  padding: 25px 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

/* partie personalInfo */

form{
  height : 30vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: space-between;

}

input{
  padding : 10px;
  width : 80%;
  border-radius: 5px;
  border: 1px solid hsl(231, 11%, 63%);

}

.labelInput{
  display: flex;
  flex-direction: column;
}


/* Partie SelectPlan */

.selectPlan{
  height : 40vh;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
}

.option{
  height : 25%;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 5px;
  display:flex;
box-sizing: border-box;
padding: 18px;
}

img{
  margin-right : 15px;
}

.monthlyYearly{
  height : 15%;
  /* border:1px solid hsl(231, 11%, 63%); */
  border-radius: 5px;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;


}

.monthlyYearly button{
  width:20px;
  height: 20px;
  border-radius: 50%;
  border:0px solid;
  position: absolute;

}

.monthlyYearly div{
  position: relative;
  width : 50px;
  height : 22px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 20px;

}

.optionAndPrice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* partie pick add */

.pickadd{
  height : 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.optionAdd{
  height : 25%;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

}

.check{
  padding: 0px;
  height : 25px;
  width:25px;
}


/* partie finishing up */

.finishingUp{
  height : 30vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.optionFinish{
  display:flex;
  justify-content: space-around;
}

.firstAndSecondOption{
  height: 40%;
  background-color: hsl(206, 94%, 87%);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.thirdOption{
  height : 20%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.changePeriod{
  text-decoration: underline;

}

.changePeriod:hover{
  cursor: grab;
}

.basPage{
  width : 90vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 25px;
  left : 15px;
}

.red{
  color:hsl(354, 84%, 57%)
}

/*
bouton next */

.next{
  padding: 10px;
  color: white;
  background-color: hsl(213, 96%, 18%);
  border-radius: 5px;

}

.next a{
  text-decoration: none;
  color:white;
}


